In [3]:
import pandas as pd

In [4]:
pwd

'/Users/harunabi/Documents/capstone'

In [9]:
df_demo = pd.read_csv('/Users/harunabi/Documents/capstone/demographics.csv')
df_diet = pd.read_csv('/Users/harunabi/Documents/capstone/dietary.csv')
df_ex = pd.read_csv('/Users/harunabi/Documents/capstone/examination.csv')
df_labor = pd.read_csv('/Users/harunabi/Documents/capstone/laboratory.csv')
df_quest = pd.read_csv('/Users/harunabi/Documents/capstone/questionnaire.csv')

/var/folders/w_/l5_6k0ks44j93c_h19c7c9qh0000gn/T/ipykernel_92851/2385902493.py:3: DtypeWarning: Columns (70,72) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ex = pd.read_csv('/Users/harunabi/Documents/capstone/examination.csv')
/var/folders/w_/l5_6k0ks44j93c_h19c7c9qh0000gn/T/ipykernel_92851/2385902493.py:5: DtypeWarning: Columns (758,759,776,777) have mixed types. Specify dtype option on import or set low_memory=False.
  df_quest = pd.read_csv('/Users/harunabi/Documents/capstone/questionnaire.csv')

In [8]:
df_demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,...,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,...,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,...,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23